.kontener{
    display: grid;
    height: 100vh;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: auto 1.5fr auto;
    grid-template-areas:    
    "header header header"
    "nav content1 content2"
    "footer footer footer";
    min-height: 80vh;
    
}

header{
    grid-area: header;
    padding: 3rem;
    margin-left: 16rem;
    margin-right: 16rem;
    background-image: url(/képek/kepek/fejlec.jpg);
    background-repeat: repeat-x;
    background-position-y: 22%;
    
}
.cim, h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    
    
}


nav {
    grid-area: nav;
    
    background-color: white;
    
}


main{
    grid-area: content1;
    padding: 2rem;
    border: solid 1px rgb(255, 255, 255);
    background-color: white;
}



footer{
    grid-area: footer;
    background-color: var(--button-bg);
    margin-left: 16rem;
    margin-right: 16rem;
    text-align: center;
    font-size: 13px;
    font-weight: semi-bold;
    
}