




main {
    width: 60%;
    height: 800px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

header {
    background-image: url(/képek/kepek/fejlec.jpg);
    background-size:22%;
    align-items: center;
    background-position-y: 20%;
    display: flex;
    justify-content: center;
    height: 100px;
  
}

header h1{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    

}

.primary{
    background-color: rgb(99, 160, 252);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    width: 130px;
    padding: 9px 15px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    transition: ease-in-out .25s;
    margin-bottom: 3px;
}

.primary:hover{
    background-color: var(--button-text);
    color: var(--hover-text) !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}


nav ul {
        display: grid;
        grid-template-columns: auto ;
        width: fit-content;
        margin:0;
}


nav li{
    text-decoration: none;
    list-style-type: none;
    padding: 2px;
    
}

body{
    background-image: url(/képek/kepek/hatter.jpg);
    background-repeat: repeat;

}

article {
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2px;
}

article img {
    padding-top: 2px;
    
    width: ;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
}

article p {
    font-size: 16px;
    text-align: justify;
    color: black !important;
    padding-block: 20px;
    padding-right: 16px;
}

article h1 {
    font-size: 15px;
    color: black !important;
    padding-block: 20px;
}

footer {
    background-color: rgb(74, 138, 255);
    width: 60%;
    margin: auto;
    color: rgb(255, 255, 255);
    text-align: center;
    height:40px;
    display:flex;
    justify-content: center;
    
}

footer p{
    text-align: center;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 14px;
    font-weight:250;
}

@media screen and (max-width: 700px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }
    
    article{
        grid-template-columns: 1fr;
    }
}