body{
    background-image: url(/képek/kepek/hatter.jpg);
    background-repeat: repeat;

}

.fejlec, h1{
    background-image: url(/képek/kepek/fejlec.jpg);
    background-repeat: repeat-x;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}